doctype html

html(ng-app="poulettes")
    head
        title= "Poulett!es"
        meta(charset='UTF-8')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js')
        script(src='controllers/index.js')
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
        link(rel="stylesheet" href="stylesheets/style.css")
        base(href="/")

        script(type='text/javascript').
            var character = !{character}
            var quoteId = !{quoteId}

    body(ng-controller="IndexController")
        .container-fluid
            header
                p.title Poulett!es
                p.tagline.big {{randomTitle}}

            nav
                .row
                    #accordion(aria-multiselectable="true")
                        div(ng-repeat="(character, info) in database")
                            a(data-toggle="collapse" data-parent="#accordion" href="\#{{character}}" aria-controls="{{character}}" aria-expanded="false") {{character}}
                            div(id="{{character}}" class="collapse")
                                p(ng-repeat="(id, quote) in info.quotes")
                                    a(ng-click="clickQuoteId(character, id)") {{id}}
            div
                p(ng-repeat="quote in playedQuotes") {{quote}}
        footer
