doctype html

html(ng-app="poulettes")
  head
    title= "Poulett.es"
    meta(charset='UTF-8')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js')
    script(src='controllers/index.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
    link(rel="stylesheet" href="stylesheets/style.css")
    base(href="/")
    
    script(type='text/javascript').
        var hashTagId = !{tagId}
        var hashTagQuote = !{tagQuote}
        
  body(ng-controller="IndexController")
    .container
        header
            p.title Poulett.es
            p.tagline.big {{randomTitle}}
            p.tagline Extraits de la série Kaamelott.
            
        .row(ng-if="currentQuote !== ''")
            p {{currentQuote}}
        
        .row
            #tags
                a(ng-repeat="file in files" id="{{file}}" class="tag" ng-click="clickTag(file)" style="color: {{colors[file]}}") \#{{file}}
        
    footer
